<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUS6BwOqHTwdWjARzQGyhlK_iLqluZrIU</string>
	<key>GCM_SENDER_ID</key>
	<string>683853031963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.FreeBookService</string>
	<key>PROJECT_ID</key>
	<string>freebookservice-f21fb</string>
	<key>STORAGE_BUCKET</key>
	<string>freebookservice-f21fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683853031963:ios:d5610658b9b0efdd5e66be</string>
</dict>
</plist>